h1{
    color:blue
}
pre{
    color:chocolate
}
h2{
    background-color:lightgreen;
}
.entry{
    color:brown
}
#project-list{
    color:darkmagenta
}
#cer{
    color: gray
}
#ach{
    color: red
}